@font-face {
    font-family: "SFSportsNight";
    src: url("fonts/sf-sports-night-font/TrueType/SFSportsNightUpright.ttf")
        format("truetype");
}
.sports-night {
    font-family: "SFSportsNight";
}
@font-face {
    font-family: "SFSportsNightNs";
    src: url("fonts/sf-sports-night-font/TrueType/SFSportsNightNSUpright.ttf")
        format("truetype");
}
.sports-night-ns {
    font-family: "SFSportsNightNs";
}
@font-face {
    font-family: "DragonShadow";
    src: url("fonts/dragon-shadow/DragonShadow-Regular.otf") format("opentype");
}
.dragon-shadow {
    font-family: "DragonShadow";
}
body {
    padding: 0;
    margin: 0;
}
main-loader {
    height: 100vh;
}

.main-fader {
    width: 100%;
    height: 100vh;
    position: absolute;
    .loader {
        position: fixed;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        svg {
            height: 300px;
            display: block;
            margin: 0 auto;
            path {
                animation-duration: 1s;
                animation-name: pulse;
                animation-iteration-count: infinite;
                color: white;

                &.path-7 {
                    animation-delay: -1s;
                }
                &.path-6 {
                    animation-delay: -0.875s;
                }
                &.path-5 {
                    animation-delay: -0.75s;
                }
                &.path-4 {
                    animation-delay: -0.625s;
                }
                &.path-3 {
                    animation-delay: -0.5s;
                }
                &.path-2 {
                    animation-delay: -0.375s;
                }
                &.path-1 {
                    animation-delay: -0.25s;
                }
                &.path-0 {
                    animation-delay: -0.125s;
                }
            }
        }
    }
}

@keyframes pulse {
    0% {
        opacity: 0.1;
    }
    30% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.1;
    }
}
#instagram-icon {
    background: #f09433;
    background: -moz-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: -webkit-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
@keyframes bounceAnimation {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px) rotate(5deg);
    }
}

#loading-text {
    animation: bounceAnimation 1s infinite;
}
.swiper-button-next,
.swiper-button-prev {
    width: 60px !important;
    border-radius: 100% !important;
    height: 60px !important;
    padding-inline: 4px !important;
    color: green !important;
    background-color: white !important;
    border: 2px solid green !important;
    opacity: 0.9;
    transition: 0.2s ease-in-out;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
}
.swiper-button-next:active,
.swiper-button-prev:active {
    transform: scale(0.9);
    opacity: 0;
}
.swiper-button-next {
    color: white;
    background-color: black;
}

/* Customize the icon inside the next button */
.swiper-button-next::after {
    font-size: 30px !important;
}

/* Customize the prev button */
.swiper-button-prev {
    color: white;
    background-color: black;
}

/* Customize the icon inside the prev button */
.swiper-button-prev::after {
    font-size: 30px !important;
}

#testiomial-call-to-action {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.page-transition {
    animation: transitionAnim 0.3s forwards; /* 0.5s duration, animation stops at the final keyframe */
    animation-play-state: running; /* This property controls the play state */
}
#register-player {
    animation: slidePlayer 0.5s forwards; /* 0.5s duration, animation stops at the final keyframe */
    animation-play-state: running; /* This property controls the play state */
}
#register-background {
    animation: slidePlayer 0.3s forwards; /* 0.5s duration, animation stops at the final keyframe */
    animation-play-state: running; /* This property controls the play state */
}
@keyframes slidePlayer {
    0% {
        opacity: 0;
        transform: translateX(-350px) scale(0.6);
    }
    25% {
        opacity: 0.5;
        transform: translateX(-250px) scale(0.7);
    }
    50% {
        opacity: 1;
        transform: translateX(-150px) scale(0.8);
    }
    70% {
        transform: translateX(-50px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}
@keyframes transitionAnim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
#news-article-content-box h2,
#pitch-description-box h2 {
    font-size: 25px;
    font-weight: 800;
    padding: 5px 0;
}
#news-article-content-box h3,
#pitch-description-box h3 {
    font-size: 21px;
    font-weight: 700;
    padding: 10px 0;
}
#news-article-content-box p,
#pitch-description-box p {
    padding-inline: 8px;
    font-size: 18px;
}
#news-article-content-box img,
#pitch-description-box img {
    margin: 20px 0;
    border: 4px solid white;
}
#news-article-content-box a,
#pitch-description-box a {
    font-weight: 900;
    color: #ffca28;
    border-bottom: 1px solid #ffca28;
    transition: 0.3s ease-in-out;
}
#news-article-content-box a:hover,
#pitch-description-box a:hover {
    color: #ffdb6f;
    border-bottom: 2px solid #ffdb6f;
}
#news-article-content-box .attachment__caption,
#pitch-description-box .attachment__caption {
    display: none;
}

.rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(255, 255, 255, 0.35);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
}
[dir="rtl"] .rating {
    --dir: left;
}
.rating::-moz-range-track {
    background: linear-gradient(
        to var(--dir),
        var(--fill) 0 var(--x),
        var(--fillbg) 0 var(--x)
    );
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-runnable-track {
    background: linear-gradient(
        to var(--dir),
        var(--fill) 0 var(--x),
        var(--fillbg) 0 var(--x)
    );
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
}
.rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
}
.rating,
.rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
    margin-block-end: 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
    --sz: 1rem;
    --on: #07f403;
    --of: rgba(65, 1, 1, 0);
    --gr: #666666;
    --tr: all 0.3s ease 0s;
    --lg: var(--of);
}

* {
    box-sizing: border-box;
    transition: var(--tr);
}

.toggle {
    position: relative;
    width: calc(var(--sz) * 4);
    height: calc(var(--sz) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn {
    display: none;
}

label[for="btn"] {
    position: absolute;
    width: calc(var(--sz) * 4);
    height: calc(var(--sz) * 2);
    background: linear-gradient(0deg, #e4c420, #d0b52c);
    border-radius: var(--sz);
    box-shadow: 0 0 calc(var(--sz) / 50) calc(var(--sz) / 50)
            rgba(18, 74, 1, 0.4),
        0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #094e01,
        0 0px calc(var(--sz) / 10) calc(var(--sz) / 50) #b9ffba88,
        0 -4px calc(var(--sz) / 5) calc(var(--sz) / 50) #274f22cc;
}

.thumb {
    position: absolute;
    width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
    height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 8));
    top: calc(calc(var(--sz) / 10) + calc(var(--sz) / -20));
    left: calc(calc(var(--sz) / 10) + calc(var(--sz) / -30));
    background-size: cover;
    background-position: center;
    border-radius: var(--sz);
    box-shadow: calc(var(--sz) / -50) calc(var(--sz) / 50) calc(var(--sz) / 30)
            0 #fff2 inset,
        0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #000c,
        0 calc(var(--sz) / 3) calc(var(--sz) / 3) 0 #000d;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

#btn:checked + label .thumb {
    --lg: var(--on);
    transition: var(--tr);
    left: calc(
        calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) -
            calc(calc(var(--sz) / 10) + calc(var(--sz) / 5.75))
    );
}

.thumb:before {
    content: "";
    position: absolute;
    width: calc(var(--sz) / 0.5);
    height: calc(var(--sz) / 0.5);
    background: radial-gradient(
        circle at 45% 50%,
        #fff0 calc(var(--sz) / 1),
        var(--lg) calc(var(--sz) / 0.95)
    );
    filter: blur(1px);
}

.light {
    position: absolute;
    width: calc(var(--sz) * 1);
    height: calc(var(--sz) / 1.75);
    right: calc(var(--sz) * -2.75);
    display: flex;
    justify-content: center;
    z-index: 1;
    background: red;
    position: relative;
    width: calc(var(--sz) / 1.75);
    height: calc(var(--sz) / 1.75);
    border-radius: var(--sz);
    box-shadow: 0 0px calc(var(--sz) / 50) calc(var(--sz) / 50)
            rgba(76, 0, 0, 0.533),
        0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #4c0000,
        0 2px calc(var(--sz) / 10) calc(var(--sz) / 500) #fff8,
        0 0px calc(var(--sz) / 20) calc(var(--sz) / 25) #260000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tr);
}

.light:before {
    content: "";
    transition: var(--tr);
    width: calc(100% - calc(var(--sz) / 15));
    height: calc(100% - calc(var(--sz) / 15));
    position: absolute;
    background: radial-gradient(
        circle at 50% 32%,
        rgba(255, 255, 255, 0.333) 0 calc(var(--sz) / 20),
        #000 calc(var(--sz) / 3) calc(var(--sz) / 3)
    );
    border-radius: var(--sz);
    box-shadow: 0 0 calc(var(--sz) / 3) 0 #10f50020,
        0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) #31f50020 inset;
}

#btn:checked + label + .light:before {
    --lg: var(--on);
    transition: var(--tr);
    box-shadow: 0 0 calc(var(--sz) / 2.5) 0 var(--lg),
        0 0 calc(var(--sz) / 3) calc(var(--sz) / 20) var(--lg) inset,
        0 calc(var(--sz) / -20) calc(var(--sz) / 10) calc(var(--sz) / 10)
            rgba(38, 208, 0, 0.8) inset;
    background: radial-gradient(
        circle at 50% 32%,
        #0ce700 0 calc(var(--sz) / 20),
        var(--lg) calc(var(--sz) / 3) calc(var(--sz) / 3)
    );
}
